// 
// Masthead
// 

.masthead {
    min-height: 30rem;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../assets/img/bg-masthead.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-size: 4rem;
        margin: 0;
        padding: 0;
    }

    @media (min-width: 992px) {
        height: 100vh;

        h1 {
            font-size: 5.5rem;
        }
    }
}
.masthead img {
    width: 200px;
    height: 220px;
    border-radius: 64px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.masthead h2 {
    margin-top: 16px;
    font-size: xlarge;
    text-align: center;
}
.masthead h5 {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    text-align: center;
}