// 
// Services
// 

.service-icon {
    background-color: $white;
    color: $primary;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.tech-card {
    background-color: #252525;
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.tech-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
}

.tech-card .service-icon {
    font-size: 2.5rem;
    color: #ff5733;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.tech-card:hover .service-icon {
    color: #ff2e00;
}

.tech-card h4 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.tech-card h4 strong {
    color: #ffffff;
}

